
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --button-br-color: #2196F3;
    --button-color: #FFFFFF;
    --primary-br-color:#FFFFFF;
    --secondary-br-color:#F5F4FA;
    --footer-br-color: #2F303A;
}


.project .button {
    color: var(--title-text-color);
   background-color: var(--secondary-br-color);


 .list {
    list-style: none;
 }

.project .title {
    color: var(--title-text-color);
}